<nav class="navbar">
    <div class="navbar-links">
        <a href="/shipments">Shipments</a>
        <a href="/shipments/edit">Create a shipment</a>
    </div>

    <div>
        <AuthToggle />
    </div>
</nav>
