:root {
    --primary-color: #060640; /* Dark Blue */
    --secondary-color: #4b8dde; /* Soft Sky Blue */
    --accent-color: #063f95; /* Deep Blue */
    --highlight-color: #ecf9ff; /* Light Blue */
    --background-color: #F4F7FB; /* Light Gray Background */

    --text-dark: #2E2E2E; /* Dark Text */
    --text-light: #FFFFFF; /* White Text */
    --text-dark-highlighted: #5c5c5c; /* Dark Text */
    --text-light-highlighted: #c0c0c0; /* White Text */

    --success-color: #2aa387; /* Muted Green for */
    --danger-color: #ca3b3b; /* Deep Red for Errors */
    --warning-color: #d9af3a; /* Muted Gold */
    --info-color: #4b8dde; /* Muted Cyan for */
}
